html,
body {
  margin: 0;
  color: $text;
  letter-spacing: 0.5px;
  font-family: 'Futura', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: $font-size-base;
  background: #f1f1f4;  
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

// 清除浮动
.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
a {
  cursor: pointer;
  
}
a:not(.router-link-active):hover {
  color: $a-hover-color
  
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.ys-wrapper {
  position: relative;
  padding-top: 80px;
  width: $wrapper-width;
  margin: 0 auto;
  height: 1000px;
}

